{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Create new booking{% endblock title %}

{% block extra_breadcrumbs %}
    <li>
        <a href="{% url 'home' %}" class="breadcrumb">
            <i class="fa-solid fa-house mr-2"></i>Home
        </a>
    </li>
    <li>
        <a href="{% url 'pet_list' %}" class="breadcrumb">
            <i class="fa-solid fa-paw mr-2 text-lg"></i>Pets
        </a>
    </li>
    <li>
        <a href="{% url 'pet_new_base' %}" class="breadcrumb">
            <i class="fa-solid fa-plus mr-2"></i>Add New Pet
        </a>
    </li>
    <li><i class="fa-solid fa-plus mr-2"></i>Add New Pet to Existing Client</li>
{% endblock %}

{% block content %}
    {% if not has_households and not has_owners %}
        <div class="list-container">
            <h1>No clients. Add one <a href="{% url 'pet_create' %}" class="underline text-primary dark:text-base-content">here</a>.</h1>
        </div>
    {% else %}
        <div class="form-container">
            <div class="new-form-main">
                <h2 class="new-from-title">Add New Pet</h2>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="mb-4">
                            <label class="label" for="{{ field.label }}">{{ field.label }}</label>
                
                            {% if field.name == 'medication_required' %}
                                {% render_field field class="checkbox create-input" %}
                            {% elif field.name in 'profile_image' %}
                                {% render_field field class="create-input mt-2" %}
                            {% elif field.name in 'medication_instrutions' %}
                                {% render_field field class="text-input" %}
                            {% else %}
                                {% render_field field class="form-input" %}
                            {% endif %}
                
                            {% if field.errors %}
                                <div class="text-error">
                                    <strong>{{ field.errors.0 }}</strong>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="pt-4">
                        <button type="submit" class="btn btn-primary">Add Pet</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock content %}